.row
  .col-md-12
    %section.panel
      %header.panel-heading
        Detalhamento de Imóvel
      .panel-body
        %table.table.table-striped.table-responsive.table-condensed.table-bordered
          %thead
            %tr
              %th Empreendimento
              %th Situação
              %th Tipo
              %th Inscrição do IPTU
              %th Data de expiração
              %th Status
        %table.table.table-striped.table-responsive.table-condensed.table-bordered
          %thead
            %tr
              %th CEP
              %th Região
              %th Bairro
              %th Quadra
              %th Bloco
              %th Número
        %table.table.table-striped.table-responsive.table-condensed.table-bordered
          %thead
            %tr
              %th Logradouro
              %th Complemento
              %th Ponto de Referência
              %th Logradouro ativo no site?
              %th Bloco
              %th Número
            
              

