#imovel-detalhes{
  padding-top: 99px;
}
#voltar{
  cursor: pointer;
}
.atributos-custom{
  padding: 8px 0;
      border-bottom: 1px solid #ddd;
}
.img-carrosel li img{
  cursor: pointer;
}
.attribute_title{
      border-bottom: 1px solid #ddd;
      padding-bottom: 25px;
      margin-bottom: 0px;
      border-top: 1px solid #ddd;
line-height: 0.1em;
}
.h4-mod{
  padding-top: 20px;
}
.span-attribute{
  background-color: #fff;
      padding: 0 10px;
}
