.has-featured > .property-wrap{
  height: 230px;
}
.has-featured > .property-wrap > .property-excerpt{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 125px;
}
.has-featured > .property-wrap > .property-excerpt > p{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 125px;
}
.thumb img{
  height: 100px!important;
}
.image-carrosel img{
  width: 100%;
}
.img-carroselmod{
  height: 90%!important;
  overflow: hidden;
}
.property-excerpt p{
  display: none;
}
.thumb-featured {
  height: 57px!important;
  width: 70px!important;
  overflow: hidden;
}
.featured-thumb-home{
  height: 230px;
  width: auto!important;
}
.thumb-list{
  height: 370px!important;
}
.tour_i{
  background-color: #264668;
  color: #fff;
}
.span-tour{
  display: block;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.span-tour a, .span-tour a:hover{
  color: #fff
}
