/* Meunw Style */

body {
    background-color: #59b9cc;
}

hr {
    border: 1px solid #fff;
    text-align: center;
    width: 180px;
    margin-bottom: 5px;
}

#logo, #logo-detalhe {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    position: relative;
    z-index: 1030;
}

#banner {
    margin: 15px auto 0;
}

#banner img {
    max-width: 1000px;
    margin: 0 auto;
}

#menu {
    display: none;
}

#menu-default {
    margin: 0 auto 10px;
    bottom: 15%;
}

#menu-default .inner {
    font-size: large;
    text-align: center;
    border: none;
    margin-bottom: 40px;
}

#imovel-menu-default {
    margin-left: -15%;
    width: 130%;
}

#imovel-menu-default .inner {
    margin-bottom: 20px;
}
#imovel-menu-default .inner img, #menu-default img{
    margin: 0 auto;
}

.tipo-imovel {
    margin-bottom: 20px;
}

#menu-default .menu-text {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #FFFFFF;
}

#menu-default .menu-text:hover {
    transform: scale(1.2);
}

.imovel-menu-text img {
    margin: 0 auto;
}

.galeria .img-responsive {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.social {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;
}

.social a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #fff;
}

.social a:hover {
    color: #004c6d;
}

footer {
    min-height: 40px;
    border-width: 0 0 1px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

footer .nav {
    padding-top: 20px;
    background: #fff;
}

.nav {
    color: #004c6d;
    padding: 15px;
    text-align: center;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: #004c6d;
}

.nav a span:hover {
    background-color: #004c6d;
    color: #fff;
}

.footer-button {
    padding: 5px;
    margin: 10px auto;
    position: relative;
    border: 2px solid #004c6d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.middle {
    margin: 8% auto 0;
}


/*-----------------BANNER-----------------*/

#slidy-container {
    width: 100%;
    overflow: hidden;
}

#slidy {
    margin: 0;
    font-size: 0;
    position: relative;
    width: 400%;
}

#slidy img {
    width: 25%;
}


/*-----------------IMÓVEL SECTION-----------------*/

#voltar {
    position: absolute;
    padding-right: 15px;
    top: 10px;
    right: 0;
    clear: both;
}

#home-section-imovel {
    padding: 0 25%;
}

.margin-middle {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-bottom {
    margin-bottom: -30px;
}

.lancamento, .quartos {
    margin-left: -20px;
}

.top {
    margin-top: -20px;
    margin-bottom: 20px;
}

.quartos-bottom {
    margin-top: -20px;
}

#quartos-default {
    margin: 20px auto;
    bottom: 15%;
}

#quartos-default .inner {
    font-size: large;
    text-align: center;
    border: none;
}

#quartos-default .quartos-text {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #FFFFFF;
}

#quartos-default .quartos-text:hover {
    transform: scale(1.2);
}

#quartos-default:nth-last-child(1) {
    margin-bottom: 60px;
}


/*-----------------LISTA-----------------*/

#item-lista {
    background-color: #fff;
    text-align: center;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 72px;
    padding: 0px 15px 0px 10px;
}

.img-list {
    margin: 5px auto;
    height: 100% !important;
    max-height: 62px !important;
}

.divider {
    border-right: 2px solid #59b9cc;
    min-height: 72px;
}

.lista {
    margin-top: 50px;
}

.lista-top {
    margin-top: 50px;
}

.lista-top-anun {
    margin-top: 60px;
}

.endereco {
    margin-top: 0px;
    margin-bottom: 0px;
}

.link {
    max-width: 12.5%;
}

.img-center {
    display: table;
    height: 72px;
}

.img-center a, .img-center img, .img-center span {
    display: table-cell !important;
    vertical-align: middle;
}

.lista-tipo-imovel {
    padding-top: 50px;
}


/*-----------------DETALHES-----------------*/
#imovel-detalhes{
    margin: 50px auto 20px;
}
#imovel-detalhes h4, h5 {
    color: #59B9CC;
}

#imovel-detalhes h5 span {
    color: #000;
}

.galeria {
    background-color: #fff;
    min-height: 350px;
    margin-bottom: 15px;
}

.bottom-galeria {
    margin-bottom: 15px;
}

.box {
    background-color: #fff;
    text-align: center;
    height: 100px;
    padding: 10px;
    margin-right: -5px;
    margin-bottom: 20px;
}

.box-icons {
    color: #003e5c;
    font-size: 4em;
}
.info {
    background-color: #fff;
    min-height: 565px;
    height: auto;
    margin-bottom: 80px;
}

.height {
    max-height: 25px;
}

.resp {
    text-align: center;
}

.resp img {
    /*max-width: 70px;*/
    display: inline !important;
}

.resp .imgcenter {
    margin-left: 10px;
    margin-right: 10px;
}

.resp .vendas {
    margin-bottom: 20px;
    margin-top: 20px;
}

.resp h4 {
    color: #004C6D;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 0.3em;
    margin: 10px 0 20px;
}

.resp h4 span {
    background: #fff;
    padding: 0 10px;
}

.img-100 {
    max-width: 100px;
}

.atributos {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}

.desc {
    background-color: #fff;
    margin-bottom: 50px;
    padding: 2px 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 0 !important;
}

.modal-dialog {
    margin: 10% auto;
    overflow: hidden;
    width: 90%;
    max-width: 600px;
}

.modal {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.row {
    margin-left: -20px;
    margin-right: -20px;
}

/*-----------------RESPONSIVE SECTION-----------------*/


/* Desktop maiores */

@media screen and (min-width: 1400px) {
    #menu-default {
        margin: 10% auto 15px;
    }
}

#lista-imoveis {
    width: 70%;
    max-width: 900px;
    margin: 14% auto 200px;
}

.lista-imoveis-item {
    background-color: #fff !important;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    text-align: center;
}
.lista-imoveis-item div{
    min-height: 100px;
}
.lista-imoveis-item img{
    margin: 20% auto 0;
}
.lista-imoveis-item-logo1 {
    border-right: 2px solid #59b9cc;
}
.lista-imoveis-item-logo2 {
    border-right: 2px solid #59b9cc;
}
.lista-imoveis-item-quartos {
    border-right: 2px solid #59b9cc;
}
.lista-imoveis-item-quartos img{
    margin-left: -7px;
    margin-top: 65%;
    max-width: 50px;
}
.lista-imoveis-item-detalhes img {
     margin-top: 85%;
}
.lista-imoveis-item-tour img {
    margin-left: 15%;
    margin-top: 75%;;
}
.lista-imoveis-item-info {
    border-right: 2px solid #59b9cc;
    padding-top: 12px;
}
.lista-imoveis-item-detalhes {
    border-right: 2px solid #59b9cc;
}
.icone-show-mobile{
    display: none;
}
.box-img-tour{
    margin-top: -20px;
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
    .container{
        width: 92%;
    }
    #home-section-imovel {
        padding: 0 20%;
    }
    #menu-default {
        margin: 0 auto -5px;
    }
    #lista-imoveis {
        margin: 160px auto;
        width: 80%;
    }
    footer{
        position: relative;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    .container{
        width: 95%;
    }
    #home-section-imovel {
        padding: 0 20%;
    }
    #menu-default {
        margin: 0 auto -5px;
    }
    #logo{
        text-align: center;
    }

    footer{
        position: relative;
    }
    .middle{
        margin-top:10%;
        position: relative;
    }

    .lista-imoveis-item-logo2 {
        border-right: none;;
    }
    .lista-imoveis-item img {
        margin: 7% auto 0;
    }
    .lista-imoveis-item-quartos img{
        margin-left: 40%;
        margin-top: 10%;
        max-width: 50px;
    }
    .lista-imoveis-item-detalhes img {
         margin-top: 10%;
    }
    .lista-imoveis-item-tour img {
        margin-left: 40%;
        margin-top: 11%;
    }
    .lista-imoveis-item-info {
        border-top: 2px solid #59b9cc;
        border-right: none;
        border-bottom: 2px solid #59b9cc;
    }
    .icone-show-mobile{
        display: block;
    }
    .icone-none-mobile{
        display: none;
    }
    #lista-imoveis {
        margin: 160px auto;
        width: 90%;
    }
    .lista-imoveis-item {
        margin-bottom: 20px;
    }
    .table-responsive {
        border: none !important;
        overflow-x: none !important;
        overflow-y: none !important;
    }
    .flexslider-galeria {
        margin: 15px auto 0 !important;
        min-height: 150px;
    }
 }
 @media screen and (max-width: 768px) and (orientation: landscape) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .middle {
        margin-bottom: 60px;
    }
    footer {
        min-height: 20px;
        position: relative;
    }
    .social {
        font-size: 2em;
        margin-top: -75px;
    }
    /*----------TIPO SECTION-----------*/
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 10px;
    }
    #voltar {
        padding-left: 10px;
        top: 0px;
    }
    .uma_coluna {
        width: 50%;
        float: left;
    }
    #logo {
        text-align: center;
    }
    #logo .logohome {
        max-width: 55%;
    }
    .middle {
        margin-top: 50px;
        position: relative;
    }
    .mobilehome {
        max-width: 50% !important;
    }
    .mobilehome .inner img {
        max-width: 85% !important;
    }
    #home-section-imovel {
        padding: 0;
    }
    #imovel-menu-default {
        margin-left: 0;
        width: 100%;
    }@media screen and (max-width: 320px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
        }

    #voltar{
        padding-left: 50px;
        top: 0px;
    }

    #logo{
        text-align: center;
    }
    #logo img{
        max-width: 100%;
    }

    .mobilehome{
        max-width: 50% !important;
    }
    .mobilehome .inner img{
        max-width: 100% !important;
    }
    #drop{
        clear: both;
    }

    .fa {
        font-size: 0.7em;
    }

    .nav{
        font-size: 0.9em;
    }

    .nav a {
        padding: 0px !important;
    }

    .footer-text{
        margin: 20px 0 0;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .galeria {
        min-height: 320px;
    }
    .flexslider {
        margin: 0 auto -55px !important;
    }
    /*----------TIPO SECTION-----------*/
    .mobilevolta{
        display: none;
    }
    .rowmobile{
        max-width: 100%;
    }

    .anumobile{
        max-width: 100%;
    }
    .top{
        display: table;
    }
    .mobiledisplay{
        display: table-cell;
        max-width: 55px;
    }

    .lista-imoveis-item-quartos img{
        margin-left: 0 !important;
        margin-top: 10px !important;
        width: 100%;
    }
    .lista-imoveis-item-tour img{
        margin-left: 5px !important;
        margin-top: -3px !important;
    }
 }
    #menu-default .inner {
        margin-bottom: 15px;
    }
    #imovel-menu-default .inner {
        margin-bottom: 15px;
    }
    #menu-default {
        margin: -5px auto -25px;
    }
    #drop {
        clear: both;
    }
    .nav {
        font-size: 0.9em;
    }
    footer {
        position: relative;
    }
    .footer-text {
        margin: 15px 0 -5px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .lista-tipo-imovel{
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .tipo-imovel {
        margin-bottom: 13px;
    }
    .lista-imoveis-item-logo1 {
        width: 50%;
    }
    .lista-imoveis-item-logo2 {
        width: 50%;
        border-right: none;;
    }
    .lista-imoveis-item-info {
        border-top: 2px solid #59b9cc;
        border-right: none;
        border-bottom: 2px solid #59b9cc;
    }
    .icone-show-mobile{
        display: block;
    }
    .icone-none-mobile{
        display: none;
    }
    #lista-imoveis {
        margin: 150px auto;
        width: 90%;
    }
    .lista-imoveis-item {
        margin-bottom: 30px;
    }
    .info {
        width: 95%;
        margin-left: 2.5%;
    }
    .lista-imoveis-item img {
        margin: 7% auto 0;
    }
    .lista-imoveis-item-quartos img{
        margin-left: 35%;
        margin-top: 10%;
        max-width: 50px;
    }
    .lista-imoveis-item-detalhes img {
         margin-top: 10%;
    }
    .lista-imoveis-item-tour img {
        margin-left: 35%;
        margin-top: 9%;
    }
    .flexslider-galeria {
        margin: 0 auto 0px;
        min-height: 150px;
    }
    /*----------TIPO SECTION-----------*/
    .rowmobile {
        max-width: 100%;
    }
    .table-responsive {
        border: none !important;
        overflow-x: none !important;
        overflow-y: none !important;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 481px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
        }

    #voltar{
        padding-left: 50px;
        top: 0px;
    }

    #logo{
        text-align: center;
    }

    #logo .logohome{
        max-width: 55%;
    }

    .uma_coluna{
        width: 100% !important;
        float: none;
    }

    .mobilehome{
        max-width: 50% !important;
    }
    .mobilehome .inner img{
        max-width: 85% !important;
    }
    #drop{
        clear: both;
    }

    .social {
    font-size: 2em;
    }

    .nav{
        font-size: 0.9em;
    }
    .nav a {
        padding: 13px;
    }

    footer{
        position: relative;
    }

    .footer-text{
        margin: 20px 0 0;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .lista-imoveis-item-logo1 {
        width: 100% !important;
        border-right: none;
        border-bottom: 2px solid #59b9cc;
    }
    .lista-imoveis-item-logo2 {
        width: 100% !important;
        border-right: none;
    }
    .lista-imoveis-item-info {
        border-right: none;
        border-bottom: 2px solid #59b9cc;
    }
    .lista-imoveis-item img {
        margin: 7% auto 0;
    }
    .lista-imoveis-item-quartos img{
        margin-left: 20% !important;
        margin-top: 18% !important;
    }
    .lista-imoveis-item-detalhes img {
         margin-top: 15% !important;
    }
    .lista-imoveis-item-tour img {
        margin-left: 20% !important;
        margin-top: 6% !important;
    }
    .lista-imoveis-item-detalhes {
    }
    .lista-imoveis-item-tour {
        padding-top: 10px;
    }
    #lista-imoveis {
        margin: 140px auto !important;
        width: 90%;
    }
    .flexslider-galeria {
        margin: 0 auto -50px;
        min-height: 150px;
    }
    /*----------TIPO SECTION-----------*/
    .rowmobile{
        max-width: 100%;
    }

 }
 @media screen and (max-width: 320px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
        }

    #voltar{
        padding-left: 50px;
        top: 0px;
    }

    #logo{
        text-align: center;
    }
    #logo img{
        max-width: 100%;
    }

    .mobilehome{
        max-width: 50% !important;
    }
    .mobilehome .inner img{
        max-width: 100% !important;
    }
    #drop{
        clear: both;
    }

    .fa {
        font-size: 0.7em;
    }

    .nav{
        font-size: 0.9em;
    }

    .nav a {
        padding: 0px !important;
    }

    .footer-text{
        margin: 20px 0 0;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .galeria {
        min-height: 320px;
    }
    .flexslider {
        margin: 0 auto -55px !important;
    }
    /*----------TIPO SECTION-----------*/
    .mobilevolta{
        display: none;
    }
    .rowmobile{
        max-width: 100%;
    }

    .anumobile{
        max-width: 100%;
    }
    .top{
        display: table;
    }
    .mobiledisplay{
        display: table-cell;
        max-width: 55px;
    }

    .lista-imoveis-item-quartos img{
        margin-left: 0 !important;
        margin-top: 10px !important;
        width: 100%;
    }
    .lista-imoveis-item-tour img{
        margin-left: 5px !important;
        margin-top: -3px !important;
    }
 }
