.gsearch
  .container
    .gsearch-info
      %h4.gsearch-info-title Econtre Seu lugar
      .gsearch-info-content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae.
        %br/
        Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
    .gsearch-wrap
      %form.gsearchform{:method => "get", :role => "search"}
        .gsearch-content
          .gsearch-field
            .form-group.glocation
              .label-select
                %select.form-control
                  %option Localização
                  %option Localização 1
                  %option Localização 2
            .form-group.gsub-location
              .label-select
                %select.form-control
                  %option Bairros
                  %option Bairro 1
                  %option Bairro 2
                  %option Bairro 3
                  %option Bairro 4
                  %option Bairro 5
            .form-group.gstatus
              .label-select
                %select.form-control
                  %option Status
                  %option Status 1
                  %option Status 2
                  %option Status 3
                  %option Status 4
            .form-group.gtype
              .label-select
                %select.form-control
                  %option Tipos
                  %option Tipo 1
                  %option Tipo 2
                  %option Tipo 3
                  %option Tipo 4
            .form-group.gbed
              .label-select
                %select.form-control
                  %option Nº de Quartos
                  %option 1
                  %option 2
                  %option 3
                  %option 4
                  %option 5
            .form-group.gbath
              .label-select
                %select.form-control
                  %option Nº de Banheiros
                  %option 1
                  %option 2
                  %option 3
                  %option 4
            .form-group.gprice
              %span.gprice-label Preço
              .gslider-range.gprice-slider-range
              %span.gslider-range-value.gprice-slider-range-value-min
              %span.gslider-range-value.gprice-slider-range-value-max
            .form-group.garea
              %span.garea-label Área
              .gslider-range.garea-slider-range
              %span.gslider-range-value.garea-slider-range-value-min
              %span.gslider-range-value.garea-slider-range-value-max
          .gsearch-action
            .gsubmit
              %a.btn.btn-deault{:href => "#"} Buscar Imóvel
