.gsearch
  .container
    .gsearch-info
      %h4.gsearch-info-title Econtre Seu lugar
      .gsearch-info-content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae.
        %br/
        Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
    = render 'layouts/site/search_box'
