%header.noo-header
  .main-nav-wrap.container
    / START NAVBAR TOGGLE & LOGO
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#main-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .logo
        .logo-image
          %a{:href => "#{root_path}", :title => "PRAÇA DO MERCADO IMOBILIÁRIO"}
            %img.imglogo{:src => "/images/logo/logo2.png"}
    / END NAVBAR TOGGLE & LOGO
    / START CALLING INFO
    .navbar-header.calling-info
      .logo.imglogs
        .logo-image
          %a{:href => "#{root_path}", :title => "PRAÇA DO MERCADO IMOBILIÁRIO"}
            %img.imglogo{:src => "/images/logo/logo1.png"}
    / END CALLING INFO
    / START MAIN NAVIGATION
    -# .main-navigation
    -#   %nav#main-collapse.collapse.navbar-collapse{:role => "navigation"}
    -#     %ul.nav.navbar-nav
    -#       %li.dropdown.active
    -#         %a{:href => "#{root_path}"}
    -#           Home 
    / END MAIN NAVIGATION
  / END MAIN NAVIGATION WRAP
