%header.noo-header
  / START TOP HEADER
  .top-header
    .container
      .top-header-inner
        %ul.social-top
          %li
            %a{:href => "#", :target => "_blank", :title => "Facebook"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#", :target => "_blank", :title => "Twitter"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#", :target => "_blank", :title => "Pinterest"}
              %i.fa.fa-pinterest
          %li
            %a{:href => "#", :target => "_blank", :title => "RSS"}
              %i.fa.fa-rss
        .top-header-content
          .emailto.content-item
            %a{:href => "mailto:dfaqui@dfaqui.com"}
              %i.fa.fa-envelope-o>
              \ Email:dfaqui@dfaqui.com
          .register.content-item
            %a{:href => "login-register.html"}
              %i.fa.fa-key>
              \ Registrar
          .login.content-item
            %a{:href => "login-register.html"}
              %i.fa.fa-sign-in>
          .header-search
            %label{:for => "input-header-search"}
              %i.fa.fa-search
            %input#input-header-search{:placeholder => "Search", :type => "text"}/
  / END TOP HEADER
  / START MAIN NAVIGATION WRAP
  .main-nav-wrap.container
    / START NAVBAR TOGGLE & LOGO
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#main-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .logo
        .logo-image
          %a{:href => "index.html", :title => "DF AQUI"}
    / END NAVBAR TOGGLE & LOGO
    / START CALLING INFO
    .calling-info
      .calling-content
        %i.fa.fa-mobile
        .calling-desc
          ENTRE EM CONTATO
          %br/
          %span
            %a{:href => "tel:(+01)-793-7938"} (61) 3030-3030
    / END CALLING INFO
    / START MAIN NAVIGATION
    .main-navigation
      %nav#main-collapse.collapse.navbar-collapse{:role => "navigation"}
        %ul.nav.navbar-nav
          %li.dropdown.active
            %a{:href => "index.html"}
              Home 
    / END MAIN NAVIGATION
  / END MAIN NAVIGATION WRAP
