%header.noo-header
  .main-nav-wrap.container
    / START NAVBAR TOGGLE & LOGO
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#main-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .logo
        .logo-image
          %a{:href => "index.html", :title => "DF AQUI"}
    / END NAVBAR TOGGLE & LOGO
    / START CALLING INFO
    .calling-info
      .calling-content
        %i.fa.fa-mobile
        .calling-desc
          ENTRE EM CONTATO
          %br/
          %span
            %a{:href => "tel:(+01)-793-7938"} (61) 3030-3030
    / END CALLING INFO
    / START MAIN NAVIGATION
    .main-navigation
      %nav#main-collapse.collapse.navbar-collapse{:role => "navigation"}
        %ul.nav.navbar-nav
          %li.dropdown.active
            %a{:href => "index.html"}
              Home 
    / END MAIN NAVIGATION
  / END MAIN NAVIGATION WRAP
