%section#lista-imoveis
  .lista-imoveis-item.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .col-lg-2.col-md-2.col-sm-6.col-xs-12.lista-imoveis-item-logo1
      %img.img-responsive{:src => "http://meunw.com.br/assets/images/logo-cliente/paulo_baeta.jpg"}/
    .col-lg-2.col-md-2.col-sm-6.col-xs-12.lista-imoveis-item-logo2
      %img.img-responsive{:src => "http://meunw.com.br/assets/images/logo-empreendimento/stylo1.jpg"}/
    .col-lg-1.col-md-1.col-sm-4.col-xs-4.lista-imoveis-item-quartos.icone-none-mobile
      %img.img-responsive{:src => "http://meunw.com.br/assets/images/icon-1quarto.png"}/
    .col-lg-5.col-md-5.col-sm-12.col-xs-12.lista-imoveis-item-info
      %span.lista-imoveis-item-end
        %strong CLNW  10/11 A e B
      %br/
      %span.lista-imoveis-item-valor
        %strong Valor: R$
        \-
      %br/
      %span.lista-imoveis-item-area
        %strong Ãrea:
        43.00 m2
    .col-lg-1.col-md-1.col-sm-4.col-xs-4.lista-imoveis-item-quartos.icone-show-mobile
      %img.img-responsive{:src => "http://meunw.com.br/assets/images/icon-1quarto.png"}/
    .col-lg-1.col-md-1.col-sm-4.col-xs-4.lista-imoveis-item-detalhes
      %a{:href => "/imoveis/detalhes/388/1/V"}
        %img.img-responsive{:src => "http://meunw.com.br/assets/images/lista-detalhes.png"}/
    .col-lg-1.col-md-1.col-sm-4.col-xs-4.lista-imoveis-item-tour
      %a{:href => "http://www.meunw.com.br/360/111/meunw.html?s=pano6160&h=-167.3878&v=-2.0998&f=90.0000&skipintro&norotation", :target => "_blank"}
        %img.img-responsive{:src => "http://meunw.com.br/assets/images/icon-360.png"}/
 