.noo-wrapper
  / START NOO MAINBODY
  .container.noo-mainbody
    .noo-mainbody-inner
      .row.clearfix
        / START MAIN CONTENT
        .noo-content.col-xs-12.col-md-8
          / START ARTICLE PROPERTY
          %article.property
            %h1.property-title
              Exemplo de Imóvel
              %small Endereço do Imóvel
            %ul.social-list.property-share.clearfix
              %li
                %a{:href => "#", :target => "_blank", :title => "Facebook"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#", :target => "_blank", :title => "Twitter"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#", :target => "_blank", :title => "Google +"}
                  %i.fa.fa-google-plus
            .property-featured.clearfix
              .images
                .caroufredsel-wrap
                  %ul
                    %li
                      %a{:href => "images/property/property-details1.jpg"}
                        %img{:alt => "", :src => "/images/property/property-details1.jpg"}/
                    %li
                      %a{:href => "images/property/property-details1.jpg"}
                        %img{:alt => "", :src => "/images/property/property-details1.jpg"}/
                    %li
                      %a{:href => "images/property/property-details1.jpg"}
                        %img{:alt => "", :src => "/images/property/property-details1.jpg"}/
                    %li
                      %a{:href => "images/property/property-details1.jpg"}
                        %img{:alt => "", :src => "/images/property/property-details1.jpg"}/
                    %li
                      %a{:href => "images/property/property-details1.jpg"}
                        %img{:alt => "", :src => "/images/property/property-details1.jpg"}/
                    %li
                      %a{:href => "images/property/property-details1.jpg"}
                        %img{:alt => "", :src => "/images/property/property-details1.jpg"}/
              .thumbnails
                .thumbnails-wrap
                  %ul
                    %li
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property-details1-thumbs.jpg"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property-details1-thumbs.jpg"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property-details1-thumbs.jpg"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property-details1-thumbs.jpg"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property-details1-thumbs.jpg"}/
                    %li
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property-details1-thumbs.jpg"}/
                %a.caroufredsel-prev{:href => "#"}
                %a.caroufredsel-next{:href => "#"}
            .property-summary
              .row
                .col-md-4
                  .property-detail
                    %h4.property-detail-title Detalhes do Imóvel
                    .property-detail-content
                      .detail-field.row
                        %span.col-xs-6.col-md-5.detail-field-label Tipo
                        %span.col-xs-6.col-md-7.detail-field-value
                          %a{:href => "#", :rel => "tag"} Apartamento
                        %span.col-xs-6.col-md-5.detail-field-label Situação
                        %span.col-xs-6.col-md-7.detail-field-value
                          %a{:href => "#", :rel => "tag"} Em Construção
                        %span.col-xs-6.col-md-5.detail-field-label Localização
                        %span.col-xs-6.col-md-7.detail-field-value
                          %a{:href => "#", :rel => "tag"} Brasília
                        %span.col-xs-6.col-md-5.detail-field-label Valor
                        %span.col-xs-6.col-md-7.detail-field-value
                          %span.amount R$3,515
                        %span.col-xs-6.col-md-5.detail-field-label Área
                        %span.col-xs-6.col-md-7.detail-field-value 762 M²
                        %span.col-xs-6.col-md-5.detail-field-label Quartos
                        %span.col-xs-6.col-md-7.detail-field-value 3
                        %span.col-xs-6.col-md-5.detail-field-label Banheiros
                        %span.col-xs-6.col-md-7.detail-field-value 3
                        %span.col-xs-6.col-md-5.detail-field-label Sol
                        %span.col-xs-6.col-md-7.detail-field-value Poente
                        %span.col-xs-6.col-md-5.detail-field-label Valor M²
                        %span.col-xs-6.col-md-7.detail-field-value 200
                        %span.col-xs-6.col-md-5.detail-field-label Vagas
                        %span.col-xs-6.col-md-7.detail-field-value 1
                        %span.col-xs-6.col-md-5.detail-field-label Suites
                        %span.col-xs-6.col-md-7.detail-field-value 0
                        %span.col-xs-6.col-md-5.detail-field-label Andar
                        %span.col-xs-6.col-md-7.detail-field-value 4
                .col-md-8
                  .property-desc
                    %h4.property-detail-title Descrição do Imóvel
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae nibh at tortor maximus ultrices.
                      Sed a commodo urna. Praesent vitae massa sed mauris scelerisque aliquam et sed ligula. Sed sit amet commodo urna. Suspendisse interdum tortor eros, sit amet mattis elit varius a.
            .property-feature
              %h4.property-feature-title Atributos do Imóvel
              .property-feature-content.clearfix
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .no-has
                  %i.fa.fa-times-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
                .has
                  %i.fa.fa-check-circle
                  atributo
            .property-map
              %h4.property-map-title Localização do Imóvel
              .property-map-content
                .property-map-search
                  %input#property_map_search_input{:autocomplete => "off", :placeholder => "Pesquisar", :type => "text"}/
                #property-map-7292.property-map-box{"data-latitude" => "-15.794731", "data-longitude" => "-47.882881"}
          / END ARTICLE PROPERTY
          / START AGENT PROPERTY
          .agent-property
            .agent-property-title
              %h3 Contato
            .agents.grid.clearfix
              %article.hentry
                .agent-featured
                  %a.content-thumb{:href => "http://wp.nootheme.com/citilights/agents/john-doe/"}
                    %img.attachment-agent-thumb{:alt => "", :src => "/images/agent/agent1.jpg"}/
                .agent-wrap
                  .agent-summary
                    .agent-info
                      %div
                        %i.fa.fa-phone>
                         (61) 30303030
                      %div
                        %i.fa.fa-tablet>
                         (61) 30303030
                      %div
                        %i.fa.fa-envelope-square>
                         viaengenharia@via.com
                    .agent-desc
                      %ul.social-list.agent-social.clearfix
                        %li
                          %a{:href => "#", :target => "_blank", :title => "Facebook"}
                            %i.fa.fa-facebook
                        %li
                          %a{:href => "#", :target => "_blank", :title => "Twitter"}
                            %i.fa.fa-twitter
                        %li
                          %a{:href => "#", :target => "_blank", :title => "Google +"}
                            %i.fa.fa-google-plus
                      .agent-action
                        %a{:href => "#"} Via
              .conact-agent
                %form#conactagentform{:method => "post", :role => "form"}
                  .form-group
                    %input.form-control{:name => "name", :placeholder => "Seu Nome *", :type => "text"}/
                  .form-group
                    %input.form-control{:name => "email", :placeholder => "Seu Email *", :type => "email"}/
                  .form-group
                    %textarea.form-control{:name => "message", :placeholder => "Mensagem *"}
                  .form-action
                    %button.btn.btn-default{:type => "submit"} Enviar Mensagem
          / START AGENT PROPERTY
          / START SIMILAR PROPERTY
          .similar-property
            .similar-property-title
              %h3 Mais por Via Engenharia
            .similar-property-content
              .properties.grid.clearfix
                .properties-content
                  %article.hentry
                    .property-featured
                      %a.content-thumb{:href => "#"}
                        %img{:alt => "", :src => "/images/property/property1.jpg"}/
                    .property-wrap
                      %h2.property-title
                        %a{:href => "#", :title => "Exemplo de endereço"} Exemplo de Endereço
                      .property-summary
                        .property-detail
                          .size
                            %span 1304 M²
                          .bathrooms
                            %span 2
                          .bedrooms
                            %span 3
                        .property-info
                          .property-price
                            %span
                              %span.amount R$5,109
                              \/mês
                          .property-action
                            %a{:href => "#"} Mais Detalhes
                  %article.hentry
                    .property-featured
                      %a.content-thumb{:href => "#/"}
                        %img{:alt => "", :src => "/images/property/property1.jpg"}/
                    .property-wrap
                      %h2.property-title
                        %a{:href => "#", :title => "Exemplo de endereço"} Exemplo de Endereço
                      .property-summary
                        .property-detail
                          .size
                            %span 531 M²
                          .bathrooms
                            %span 3
                          .bedrooms
                            %span 5
                        .property-info
                          .property-price
                            %span
                              %span.amount R$4,200
                              \/mês
                          .property-action
                            %a{:href => "#"} Mais Detalhes
          / END SIMILAR PROPERTY
        / END MAIN CONTENT
        / START SIDEBAR
        .noo-sidebar.noo-sidebar-right.col-xs-12.col-md-4
          .noo-sidebar-inner
            / START FIND PROPERTY
            .block-sidebar.find-property
              %h3.title-block-sidebar Pesquisar
              .gsearch
                =render 'layouts/site/search_box'
            / END FIND PROPERTY
            / START RECENT PROPERTY
            .block-sidebar.recent-property
              %h3.title-block-sidebar Imóveis Recentes
              .featured-property
                %ul
                  %li
                    .featured-image
                      %a{:href => "property-details.html"}
                        %img{:alt => "", :src => "/images/property/property1.jpg"}/
                    .featured-decs
                      %span.featured-status
                        %a{:href => "#"} Lançamento
                      %h4.featured-title
                        %a{:href => "property-details.html", :title => "Exemplo de endereço"} Exemplo de Endereço
                  %li
                    .featured-image
                      %a{:href => "property-details.html"}
                        %img{:alt => "", :src => "/images/property/property1.jpg"}/
                    .featured-decs
                      %span.featured-status
                        %a{:href => "#"} Aluguel
                      %h4.featured-title
                        %a{:href => "property-details.html", :title => "Exemplo de endereço"} Exemplo de Endereço
                  %li
                    .featured-image
                      %a{:href => "property-details.html"}
                        %img{:alt => "", :src => "/images/property/property1.jpg"}/
                    .featured-decs
                      %span.featured-status
                        %a{:href => "#"} Aluguel
                      %h4.featured-title
                        %a{:href => "property-details.html", :title => "Exemplo de endereço"} Exemplo de Endereço
            / END RECENT PROPERTY
        / END SIDEBAR
  / END NOO MAINBODY
/ END NOO WRAPPER
