.noo-wrapper
  %section#search-box.wrap.search-box
    = render 'layouts/site/search'
  %section#our-partners.wrap.our-partners
    .container
      .section-title
        %h3 Patrocinados
      .our-partners-inner
        .row
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
      .our-partners-inner
        .row
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
          .col-sm-6.col-md-2.item-col
            %a{:href => "#", :target => "_blank"}
              %img.item-image{:alt => "", :src => "images/partner/logo_VIA.png"}/
  %section#recent-properties-slider.wrap.recent-properties.recent-properties-slider
    .container
      .recent-properties-inner
        .section-title
          %h3 Imóveis Destaques
        .recent-properties-content
          .caroufredsel-wrap
            %ul
              %li
                .property-row
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
                .property-row
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
              %li
                .property-row
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
                .property-row
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
                  %article.hentry.has-featured
                    .property-featured
                      %a.content-thumb{:href => "property-details.html"}
                        %img.attachment-property-thumb{:alt => "", :src => "images/property/property1.jpg"}/
                      %span.property-category
                        %a{:href => "type-single-family-home.html"} Exemplo de Imóvel
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                    .property-wrap
                      %h2.property-title
                        %a{:href => "property-details.html", :title => "Exemplo de Imóvel"} Exemplo de Endereço
                      .property-excerpt
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi
                    .property-summary
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"} Mais Detalhes
          %a.caroufredsel-prev{:href => "#"}
          %a.caroufredsel-next{:href => "#"}
  %section#recent-properties-featured.wrap.recent-properties.recent-properties-featured
    .container
      .recent-properties-inner
        .recent-properties-title
          %h3 Imóveis Destaque
        .recent-properties-content
          .caroufredsel-wrap
            %ul
              %li
                %article.hentry.has-featured
                  .property-featured
                    %a.content-thumb{:href => "property-details.html"}
                      %img.attachment-property-image{:alt => "", :src => "images/property/featured-properties1.jpg"}/
                    %span.property-category
                      %a{:href => "#"} Imóvel Exemplo
                  .property-wrap
                    %h2.property-title
                      %a{:href => "property-details.html", :title => "Exemplo de Endereço"} Exemplo de Endereço
                    .property-excerpt
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
                    .property-summary
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"}
                            Mais Detalhes
                            %i.fa.fa-arrow-circle-o-right
              %li
                %article.hentry.has-featured
                  .property-featured
                    %a.content-thumb{:href => "property-details.html"}
                      %img.attachment-property-image{:alt => "", :src => "images/property/featured-properties1.jpg"}/
                    %span.property-category
                      %a{:href => "#"} Imóvel Exemplo
                  .property-wrap
                    %h2.property-title
                      %a{:href => "property-details.html", :title => "Exemplo de Endereço"} Exemplo de Endereço
                    .property-excerpt
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
                    .property-summary
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"}
                            Mais Detalhes
                            %i.fa.fa-arrow-circle-o-right
              %li
                %article.hentry.has-featured
                  .property-featured
                    %a.content-thumb{:href => "property-details.html"}
                      %img.attachment-property-image{:alt => "", :src => "images/property/featured-properties1.jpg"}/
                    %span.property-category
                      %a{:href => "#"} Imóvel Exemplo
                  .property-wrap
                    %h2.property-title
                      %a{:href => "property-details.html", :title => "Exemplo de Endereço"} Exemplo de Endereço
                    .property-excerpt
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
                    .property-summary
                      .property-detail
                        .size
                          %span 1913 M²
                        .bathrooms
                          %span 2
                        .bedrooms
                          %span 4
                      .property-info
                        .property-price
                          %span
                            %span.amount R$154,500
                        .property-action
                          %a{:href => "property-details.html"}
                            Mais Detalhes
                            %i.fa.fa-arrow-circle-o-right
          %a.caroufredsel-prev{:href => "#"}
          %a.caroufredsel-next{:href => "#"}
  %section#our-sevices.wrap.our-sevices
    .container
      .parallax
        .bg.parallax-bg
        .overlay
        .our-sevices-content
          .row.clearfix
            .col-xs-12.col-sm-4.our-sevices-col
              %span.service-icon
                %i.fa.fa-home
              %hr.noo-gap/
              .text-block
                %h5 Os melhores Imóveis
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae nibh at tortor maximus ultrices.
                  %br>/
                  Lorem ipsum dolor sit amet.
                %p
                  %a.icon-right{:href => "#"}
                    Lorem ipsum dolor sit amet
                    %i.fa.fa-arrow-circle-o-right
            .col-xs-12.col-sm-4.our-sevices-col
              %span.service-icon
                %i.fa.fa-thumbs-o-up
              %hr.noo-gap/
              .text-block
                %h5 Compartilhe
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae nibh at tortor maximus ultrices.
                  %br>/
                  Lorem ipsum dolor sit amet.
                %p
                  %a.icon-right{:href => "#"}
                    Lorem ipsum dolor sit amet
                    %i.fa.fa-arrow-circle-o-right
            .col-xs-12.col-sm-4.our-sevices-col
              %span.service-icon
                %i.fa.fa-star
              %hr.noo-gap/
              .text-block
                %h5 Favorite
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae nibh at tortor maximus ultrices.
                  %br>/
                  Lorem ipsum dolor sit amet.
                %p
                  %a.icon-right{:href => "#"}
                    Lorem ipsum dolor sit amet
                    %i.fa.fa-arrow-circle-o-right
  %section#testimonial.wrap.testimonial
    .container
      .testimonial-inner
        .section-title
          %h3 Depoimentos
        .testimonial-content
          #carousel-testimonial.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-testimonial"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-testimonial"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-testimonial"}
              %li{"data-slide-to" => "3", "data-target" => "#carousel-testimonial"}
            .carousel-inner
              .item.active
                .slide-content
                  .testimonial-desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.”
                  .our-customer-info
                    .avatar
                      %a{:href => "#"}
                        %img{:alt => "", :src => "images/other/customer1.png"}/
                    .custom-desc
                      %h4 Gizelly Gleise
                      %p Corretora
              .item
                .slide-content
                  .testimonial-desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.”
                  .our-customer-info
                    .avatar
                      %a{:href => "#"}
                        %img{:alt => "", :src => "images/other/customer1.png"}/
                    .custom-desc
                      %h4 Gizelly Gleise
                      %p Corretora
              .item
                .slide-content
                  .testimonial-desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.”
                  .our-customer-info
                    .avatar
                      %a{:href => "#"}
                        %img{:alt => "", :src => "images/other/customer1.png"}/
                    .custom-desc
                      %h4 Gizelly Gleise
                      %p Corretora
              .item
                .slide-content
                  .testimonial-desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.”
                  .our-customer-info
                    .avatar
                      %a{:href => "#"}
                        %img{:alt => "", :src => "images/other/customer1.png"}/
                    .custom-desc
                      %h4 Gizelly Gleise
                      %p Corretora
