.row
  .col-md-4.col-md-offset-4
    .login-wrap
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:'form-signin'}) do |f|
        %h2.form-signin-heading
          ADMINISTRATIVO
        .login-wrap
          .user-login-info
            = f.input :username, required: false, autofocus: true
            = f.input :password, required: false
          = f.button :submit, "ENTRAR"
