%header.header.fixed-top.clearfix
  / logo start
  .brand
    %a.logo{:href => "#{admin.root_path}"}
      %img{:alt => "", :src => "/images/logo-white.png", width: 130}/
  #top_menu.nav.notify-row
    / notification start
    %ul.nav.top-menu
      / settings start
 
  .top-nav.clearfix
    / search & user info start
    %ul.nav.pull-right.top-menu
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span= current_user.email
          %b.caret
        %ul.dropdown-menu.extended.logout
          %li
            %a{:href => "#{main_app.edit_user_registration_path}"}
              Minha Conta
          %li
            = link_to "Sair", main_app.destroy_user_session_path, method: :delete
